.min-width-card {
    min-width: 300px;
}


.ff-verona {
    font-family: 'Verona'
}

.vh-90 {
    height: 90vh;
}

.nav-padding {
    padding-top: 5em;
}

.max-width-login {
    width: 75% !important;
    max-width: 700px !important;
    min-width: 300px !important;
}

.max-min-width-leaderboard {
    width: 75% !important;
    max-width: 1000px !important;
    min-width: 400px !important;

}

.animate-font-weight {
    transition: font-weight 0.3s linear;
    /* Smooth transition */
}

.animate-font-weight:hover {
    font-weight: 300 !important;
    /* Or a specific numeric value like 700 */
}

.background-light-grey {
    /* background-color: #DEDEDE; */
    background-color: #f0edf287;
}


.gradient {
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 10%;

}
.gradient-auth {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.gradient-home {
    background: linear-gradient(to right, rgb(168, 98, 243), rgb(90, 146, 243));
}

.gradient-leaderboard {
    background: linear-gradient(to right, rgb(81, 75, 249), rgb(140, 170, 221));
}

.gradient-howtoplay {

    background: linear-gradient(to right, rgb(91, 56, 171), rgb(192, 123, 123));

}

.active {

    filter: brightness(75%);

}

.mb-10 {
    margin: bottom 300px;
}